
.editButton {
  font-size: 14px;
  border: solid 1px lightgray;
  border-radius: 4px;
  padding: 4px;
  vertical-align: middle;
  white-space: nowrap;
}

.editButton:hover {
  background: #EEE;
}

.section {
  display: flex;
  flex-wrap: wrap;
  max-width: 630px;
  margin-bottom: 16px;
  overflow: hidden;
}

.sectionTitle {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 8px;
  margin-right: 10px;
  flex: 0 0 150px;
}

.sectionContent {
  flex: 1 1 300px;
}

.field {
  margin-bottom: 16px;
}

.fieldTitle {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 8px;
}

.fieldText {
  font-size: 14px;
}
